h2{
    color: blue;
    margin-bottom: 0;;
}

::ng-deep .mat-paginator-range-actions .mat-icon-button svg {

    transform: rotate(
    180deg
    
    );
}

.mat-paginator{
    display: flex;
    align-content: start;
}